<!-- BugReport.cshtml -->
@model DatabaseProject.Models.BugReportModel

<h2>Submit Bug Report</h2>

@using (Html.BeginForm("SubmitBugReport", "Customer", FormMethod.Post))
{
    <div>
        <label for="Message">Message:</label>
        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
    </div>
    <div>
        <label for="ProductName">Product Name:</label>
        @Html.DropDownListFor(model => model.ProductName, 
            new SelectList(ViewBag.Products, "Value", "Text"), 
            "Select a Product", 
            new { @class = "form-control" })
    </div>
    <div>
        <label for="VersionID">Version ID:</label>
        @Html.TextBoxFor(model => model.VersionID, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group text-center mt-3">
        <a asp-controller="Customer" asp-action="CustomerDashboard" class="text-black">Click for return previous
            page!</a>

    </div>
}