<!-- BuyLicense.cshtml -->
@model dbapp.Models.BuyLicenseModel

<h2>Buy License</h2>

@using (Html.BeginForm("BuyLicense", "Customer", FormMethod.Post))
{
    <div>
        <label for="ProductName">Product Name:</label>
        @Html.DropDownListFor(model => model.ProductName, 
            new SelectList(ViewBag.Products, "Value", "Text"), 
            "Select a Product", 
            new { @class = "form-control" })
    </div>

    <div>
        <label for="LicenseTerm">License Term (in days):</label>
        @Html.TextBoxFor(model => model.LicenseTerm, new { @class = "form-control" })
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group text-center mt-3">
        <a asp-controller="Customer" asp-action="CustomerDashboard" class="text-black">Click for return previous
            page!</a>

    </div>
}